<h1>BattleShift</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to BattleShift! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
<p>Here is your unique API key for making API calls: <%= @user.activation_token %></p>
